body {
	background-color: gray;
}

h1, p {
	color: white;
}

ul {
	color: black;
	text-align: center;
	background-color: yellow;
}

img {
    display: block;
    margin: auto;
    width: 30%;
    background-color: black;
}