@import url('https://fonts.googleapis.com/css?family=Acme|Lobster');

#heroimage {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  height: 60%;
  z-index: -1;
  background-attachment: fixed;

}

#key { 
	  position: fixed;
    top: 0px;
    left: 75px;
    height: 25%;
    width: 15%;
    background-attachment: fixed;
 }

ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 30%;
    position: fixed;
    bottom: 40%;
    width: 100%;

}

li {
    float: left;
    font-family: "Lobster";
    text-transform: capitalize;
    font-style: italic;
    font-weight: 900;
    font-size: larger;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 48px;
    text-decoration: none;
}

li a:hover {
    background-color: #000;
}

#greenroom {
  font-family: "Acme";
	font-style: oblique;
	font-weight: bolder;
	font-size: 24pt;
	color: black;	
	padding-top: 115px;
  padding-left: 109px;
}

.news {
    font-family: "Acme";
	  text-align: center;
    padding-top: 6%;
    color: black;
    font-size: 15pt;
}

#container {
  display: flex;                  
  flex-direction: row;            
  flex-wrap: nowrap;              
  justify-content: space-around; 
  background-color: #fff;
  padding-top: 20px;
}
#container > article {
  width: 320px;
  height: 190px;
  border: 10px black;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

div, section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

main {
    background-color: #fff;
    border: 1px black solid;
    padding: 20px;
}
