@import url('https://fonts.googleapis.com/css?family=Acme|Lobster');
* { margin:0; padding:0; box-sizing:border-box; }
#heroimage {
	background:url(../images/hero_image.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	height:75vh;
}
nav {
    list-style-type: none;
    background-color: #333;
}
nav a {
    color: white;
    display: inline-block;
    font-family: "Lobster";
    text-transform: capitalize;
    font-style: italic;
    font-weight: 900;
    font-size: larger;
    text-align: center;
    padding: 20px 48px;
    text-decoration: none;
}
nav a:hover {
    background-color: #000;
}

#greenroom {
  font-family: "Acme";
  font-style: oblique;
  font-weight: bolder;
  font-size: 24pt;
  color: black;
}

.news {
    font-family: "Acme";
	  text-align: center;
    padding-top: 6%;
    color: black;
    font-size: 15pt;
}
#container section {
    width: 33.33%;
    float: left;
    padding: 1em;
}
#container img {
    width: 100%;
}
